
src/.vs/BudgetApp/v14/.suo
src/BudgetApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/BudgetApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/BudgetApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/BudgetApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/BudgetApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/BudgetApp/obj/Debug/BudgetApp.TransactionForm.resources
src/BudgetApp/obj/Debug/BudgetApp.Properties.Resources.resources
src/BudgetApp/obj/Debug/BudgetApp.pdb
src/BudgetApp/obj/Debug/BudgetApp.NewUser.resources
src/BudgetApp/obj/Debug/BudgetApp.MainPage.resources
src/BudgetApp/obj/Debug/BudgetApp.exe
src/BudgetApp/obj/Debug/BudgetApp.DeleteUserForm.resources
src/BudgetApp/obj/Debug/BudgetApp.DeleteTransactionForm.resources
src/BudgetApp/obj/Debug/BudgetApp.csprojResolveAssemblyReference.cache
src/BudgetApp/obj/Debug/BudgetApp.csproj.GenerateResource.Cache
src/BudgetApp/obj/Debug/BudgetApp.csproj.FileListAbsolute.txt
src/BudgetApp/obj/Debug/BudgetApp.AboutForm.resources
src/BudgetApp/bin/Debug/123123123.txt
src/BudgetApp/bin/Debug/BudgetApp.exe
src/BudgetApp/bin/Debug/BudgetApp.exe.config
src/BudgetApp/bin/Debug/BudgetApp.pdb
src/BudgetApp/bin/Debug/BudgetApp.vshost.exe
src/BudgetApp/bin/Debug/BudgetApp.vshost.exe.config
src/BudgetApp/bin/Debug/BudgetApp.vshost.exe.manifest
src/BudgetApp/bin/Debug/transactions.txt
src/BudgetApp/bin/Debug/txt/test.csv
src/BudgetApp/bin/Debug/txt/test1.txt
src/BudgetApp/bin/Debug/txt/tr2.txt
src/BudgetApp/bin/Debug/txt/users.csv
src/BudgetApp/bin/Debug/users.txt
